@font-face {
    font-family: Poppins-M;
    src: url(font/poppins/Poppins-Medium.otf);
}
@font-face {
    font-family: Poppins-R;
    src: url(font/poppins/Poppins-Regular.otf);
}
@font-face {
    font-family: Poppins-bold;
    src: url(font/poppins/Poppins-Bold.otf);
}
:root{
    --primary-100:#CE1126;
    --primary-200:#ff554f;
    --primary-300:#ffbeab;
    --accent-100:#FFFFFF;
    --accent-200:#9b9b9b;
    --text-100:#000000;
    --text-200:#2c2c2c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}  
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    font-family: Poppins-M, Arial;
    overflow-x: hidden;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    height: 100%;
}
.nav-open{
    padding: 0px 30px;
    /* padding-left: 30px; */
    width: 100%;
    height: 85px;
    font-family: Poppins-M, Arial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: ease 0.3s;
    backdrop-filter: blur(10px);
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu a{
    position: relative;
    text-decoration: none;
    color: var(--text-100);
    font-size: 15px;
    margin: 0px 20px;
    letter-spacing: o.5px;
}
.nav-menu a:before {
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--text-100);
    transition: ease 0.3s;
    margin: 0 20% ;
}
.nav-menu a:hover::before {
    width: 60%;
    transition: ease 0.3s;
}
.search{
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 18px 13px;
    background: var(--bg-200);
    border-radius: 30px;
    align-items: center;
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); */
}
.search:hover input{
    width: 20vw;
    padding-left: 10px;
}
.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    font-family: Poppins-M, Arial;
    cursor: pointer;
}
#search-btn{
    height: 14.5px;
    cursor: pointer;
}
.nav-close{
    padding: 0px 30px;
    padding-left: 30px;
    width: 100vw;
    height: 85px;
    font-family: Poppins-M, Arial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    transition: ease 0.1s;
    display: none;
}
#navbar{
    height: 16px;
    cursor: pointer;
}
.navbar-container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    transform: translateY(-150vh);
    transition: ease 0.5s;
}
.navbar-content{
    width: 50vw;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    font-family: Poppins-M, Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    z-index: 4;
}
.navbar-content a{
    position: relative;
    text-decoration: none;
    color: var(--text-100);
    font-size: 18px;
    /* margin: 0px 20px;     */
    letter-spacing: o.5px;
    text-align: center;
    padding: 10px;
}
.navbar-content:hover a{
    color: var(--accent-200);
    transition: ease 0.4s;
}
.navbar-content a:hover{
    color: var(--text-100);
    transition: ease 0.2s;
}
.navbar-show{
    transform: translateY(0);
    transition: ease 0.5s;
}
.home{
    background: var(--bg-100);
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
}
.home h1{
    text-transform: uppercase;
    font-size: 4em;
    width: 30vw;
    font-family: Poppins-Bold, Arial;
}
.home h2{
    font-family: Poppins-R, Arial;
    font-size: 1.2em;
    width: 30vw;
}
.home img{
    width: 55vw;
    position: absolute;
    right: 0;
    transform: translateY(69px) rotateY(180deg) ;
}
.sejarah{
    width: 100%;
    height: auto;
    padding: 50px;
    background: var(--bg-100);
    /* position: absolute; */
}
.sj-container1{
    justify-content: center;
    align-items: center;
}
.sj-content1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw;
    min-height: 11vw;
    border-radius: 15px;
    background-color: var(--bg-200);
}
.sj-content1 h2{
    font-size: 1.2em;
    width: 50vw;
    text-align: center;
}
.main-carousel{
    margin: 50px 0px;
}
.carousel-cell img{
    height: 20em;
    padding: 0px 1em;
}
.sj-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 50px;
}
.sj-container2 img{
    width: 40vw;
    height: 100%;
}
.sj-content2{
    width: 100%;
    padding-left: 2vw;
}
.sj-content2-title{
    display: flex;
    flex-direction: row;
    align-items: end;
}
.sj-content2 h1{
    font-size: 3em;
    padding-right: 2px;
}
.sj-content2 p{
    padding-left: 3px;
    font-size: 1em; 
    transform: translateY(-1.2em);
    background: var(--bg-300);
    border-radius: 10px;
    padding: 2px 8px;
} 
.sj-content2 h3{
    font-family: Poppins-R, Arial;
}
.sj-content2 h2{
    font-size: 1.3em;
    font-family: Poppins-R, Arial;
    padding-right: 1.5vw;
    padding-top: 3vw;
}
.tokoh{
    padding: 50px;
}
.judul-tokoh{
    display: flex;
    justify-content: center;
}
.tokoh h2{
    color: var(--accent-100);
    justify-content: center;
    display: flex;
    width: fit-content;
    text-align: center;
    font-size: 3em;
    /* margin-bottom: 50px; */
    padding: 8px 12px;
    border-radius: 10px;
    background: linear-gradient(140deg, var(--primary-100) 0%, var(--primary-200) 100%);
}
.tokoh-content img{
    width: 360px;
    height: 400px;
    object-fit: contain;
}
.tokoh-content{
    margin: 50px;
    /* background: var(--accent-200); */
    padding: 10px;
    border-radius: 5px;
}
.text-tokoh{
    position: absolute;
    width: 360px; 
    height: 400px;
    /* background-color: rgba(1, 0, 14, 0.703);    */
    display: flex;
    justify-content: end;
    flex-direction: column;
    opacity: 1;
    transition: 0.5s;
    text-align: end;
    z-index: 3;
}
.text-tokoh h1{
    color: var(--accent-100);
    height: fit-content;
    text-align: end;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.4em;
    transform: translateY(55px);
    padding: 8px 1px;
    border-radius: 10px;
    background: linear-gradient(140deg, var(--primary-100) 0%, var(--primary-200) 100%);

}
.peninggalan{
    width: auto;
    align-items: center;    
    justify-content: center;
    display: flex;
    padding: 50px;
    background: var(--bg-100);
    flex-direction: column;
    /* position: absolute; */
}
.peninggalan h1{
    margin-bottom: 50px;
    padding: 8px 12px;
    border-radius: 10px;
    background: linear-gradient(140deg, var(--primary-100) 0%, var(--primary-200) 100%);
    color: var(--accent-100);

}
.peninggalan-container1{
    display: flex;
    width: 100%;
    word-wrap: break-word;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.peninggalan-content1{
    width: auto;
    height: 100%;
    background: linear-gradient(120deg, var(--primary-200) 0%, var(--primary-300) 100%);
    padding: 30px 30px 25px 30px;
    border-radius: 30px;
    margin: 50px;
    width: fit-content;
    block-size: fit-content;
}
.peninggalan-content1 h2{
    font-size: 1.2em;
}
.peninggalan-content1 p{
    font-size: 0.8em;
    font-family: Poppins-R, Arial;
    max-width: 225px;
    white-space: pre-wrap;
}
.peninggalan-content1 img{
    height: 150px;
    margin-top: 60px;
    margin-bottom: 10px;
}

@media screen and (min-width: 669){
    html{
        font-size: 18px;
    }
}
@media screen  and (max-width: 700px){
    .nav-open{
        display: none;
    }
    .nav-close{
        display: inline-flex;
    }
    html{
        font-size: 13px;
    }
    .sj-content2 p{
        display: none;
    } 
    .sj-content2 h1{
        font-size: 1.4em;
    }
    .sj-content2 h2{
        font-size: 0.7em;
    }
    .sj-content2 h3{
        font-size: 0.5em;
    }
}
@media screen and (max-width: 375px) {
    html{
        font-size: 7px;
    }
    .sj-content2 h1{
        font-size: 2em;
    }
    .sj-content2 p{
        padding-left: 3px;
        font-size: 1em; 
        transform: translateY(-0.5em);
    } 
    .sj-content2 h3{
        font-family: Poppins-R, Arial;
    }
    .sj-content2 h2{
        font-size: 0.7em;
        font-family: Poppins-R, Arial;
        padding-right: 1.5vw;
        padding-top: 3vw;
    }    
}